@model FrameworkRepositoryGenerico.DataBase.Entidades.Cliente

    @{
        ViewData["Title"] = "Index";
    }

   

    <p>
        <a asp-action="Create">Criar Cliente</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cpf_Cnpj)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ativo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoCliente)
                </th>
            </tr>
        </thead>
        <tbody>
           <tr>
                <td>
                    @Html.DisplayFor(model => model.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Nome)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Cpf_Cnpj)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Ativo)
                </td>
                <td>
                    @Html.DisplayFor(model => model.TipoCliente.Descricao)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                    @Html.ActionLink("Endereço", "Index", new { Controller = "Endereco", action = "Index", ClienteId = Model.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
                </td>
            </tr>
           
        </tbody>
    </table>
